.divForm form {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: #495057;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.divForm label {
    font-weight: bold;
    margin-right: 10px;
}

.input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    width: 85%;
}

.divForm input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
.divForm{
    width: 50%;
}
.divCard{
    width: 50%;
}
.container{
    display: flex;
}
.divForm input{
    background-color: #343a40;
    border: none;
    border-radius: 3px;
    color: #e9ecef;
    font-family: "Acme";
    font-size: 18px;
}

.divLife{
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
}
.divLife input{
    width: 70%;
    text-align: right;
}
.divLife label{
    margin-top: 8px;
}
.divForm input[type="number"]::-webkit-inner-spin-button, 
.divForm input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}
.divForm input:disabled{
    background-color: #77ac79;
    cursor: default;
}
h1{
    color: #e9ecef;
}