.divForm form {
    width: 320px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.divForm label {
    font-weight: bold;
    margin-right: 10px;
}

.input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    width: 85%;
}

.divForm input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
.divForm{
    width: 50%;
}
.divCard{
    width: 50%;
}
.container{
    display: flex;
}
.miniInput{
    width: 15px;
    padding: 10px;
    border: 1px solid #ccc;
}
.divmini{
    display: flex;
    padding-left: 14px;
}
.miniLabel{
    margin: 10px;
    margin-bottom: 0%;
}
.divForm input[type="number"]::-webkit-inner-spin-button, 
.divForm input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}
.divLife{
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
}
.divLife input{
    width: 70%;
    text-align: right;
}
.divLife label{
    margin-top: 8px;
}

.divSelect input[type="text"] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  .divSelect select {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  .divSelect option {
    padding: 12px;
  }
  