.nav {
    display: flex;
    border-bottom: 1px solid gray;
    background: #e63946;
    padding-right:  5px; 
    border-radius: 5px;
    color: #e9ecef;

  }
  
  .link {
    width: 100px;
    border-right: 1px solid gray;
    padding: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    width: 120px;
  }
  .menu {
    display: none;
  }
  
  .menu.open {
    opacity: 1;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-shadow: 0 0 5px black;
  }
