.logo{
    filter: drop-shadow(5px 5px 5px #222);
    padding: 5px;
}
.body{
    background-image: url("../../images/wallpaper1.jpeg");
    background-size: 100% 125%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0%;
    float: left;
}
.container{
    width: 30%;
    padding-bottom: 8%;
}
.h1{
    font-size: 50px;
}
.button{
    border-radius: 5px;
    border: transparent;
    font-size: 26px;
    background-color: #eeef20;
    font-family: "Acme";
    margin-top: 7%;
    padding: 2%;
    color: #141414;
}
.button:hover{
    background-color: #ffff3f;
}