.inputSearch{
    background-color: #343a40;
    border-radius: 7px;
    border: none;
    padding: 10px 20px;
    color: #e9ecef;
    font-size: 24px;
    font-family: "Acme";
}
.inputSearch:focus{
    border: 1px solid gray;
}
.buttonSearch{
    border-radius: 5px;
    border: transparent;
    font-size: 26px;
    background-color: #e63946;
    font-family: "Acme";
    color: #141414;
    padding: 8px;
    margin-left: 5px;
}
.buttonSearch:hover{
    background-color: #e22838;
}
.inputSearchFailed{
    background-color: #343a40;
    border-radius: 7px;
    border: 2px solid red;
    padding: 10px 20px;
    color: #e9ecef;
    font-size: 24px;
    font-family: "Acme";
}
.inputSearchFailed:focus{
    box-shadow: 0 0 8px red;
}
.p{
    color: #e0fbfc;
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 0%;
}
.xButton{
    background-color: red;
    border-color: transparent;
    color: white;
    font-weight: bold;
    font-family: "Acme";
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    margin-left: 5px;
}