.inputSearch{
    background-color: #f3fe88;
    border-radius: 7px;
    border: 1px solid black;
    padding: 10px 20px;
    color: black;
    font-size: 24px;
    font-family: "Acme";
}
.inputSearch:focus{
    box-shadow: 0 0 5px #fbf7ef;
}
.buttonSearch{
    border-radius: 5px;
    border: transparent;
    font-size: 26px;
    background-color: #eeef20;
    font-family: "Acme";
    color: #141414;
    padding: 8px;
    margin-left: 5px;
}
.buttonSearch:hover{
    background-color: #ffff3f;
}
.inputSearchFailed{
    background-color: #f3fe88;
    border-radius: 7px;
    border: 1px solid red;
    padding: 10px 20px;
    color: black;
    font-size: 24px;
    font-family: "Acme";
}
.inputSearchFailed:focus{
    box-shadow: 0 0 8px red;
}
.p{
    color: red;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 0%;
}
.xButton{
    background-color: red;
    border-color: transparent;
    color: white;
    font-weight: bold;
    font-family: "Acme";
    border-radius: 30px;
    padding: 5px;
    font-size: 20px;
    margin-left: 5px;
}