.inputSearch{
    background-color: rgba(82, 182, 154, 0.7);
    border-radius: 7px;
    border: 1px solid #1e6091;
    padding: 10px 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.inputSearch:focus{
    box-shadow: 0 0 35px #4f9;
}
.buttonSearch{
    border-radius: 5px;
    border: transparent;
    font-size: 26px;
    background-color: #eeef20;
    font-family: "Acme";
    color: #141414;
    padding: 8px;
    margin-left: 5px;
}
.buttonSearch:hover{
    background-color: #ffff3f;
}