.divSelect input[type="text"] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .divSelect select {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    height: 90px;
    background-color: #343a40;
    color: #e9ecef;
    font-family: "Acme";
    font-size: 18px;
  }
  
  .divSelect option {
    padding: 12px;
  }
  .add{
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  .add:disabled{
    background-color: #77ac79;
    cursor: default;
  }
  .delete{
    font-size: 20px;
    background-color: rgb(255, 38, 38);
    color: white;
    padding: 5px 8px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 0%;
    margin-right: 0%;
  }
  .delete:disabled{
    background-color: rgb(253, 86, 86);
    cursor: default;
  }